* {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 20px;
}

.master-background {
    background-color: rgb(39, 39, 39);
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.master-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.header {
    border: 1px white solid;

    margin-right: 200px;
    margin-left: 200px;

    display: flex;
    justify-content: space-between;

    align-content: center;
}

.link-list {
    list-style: none;
    display: flex;

    padding-left: 20px;
    padding-right: 20px;
}

.link-list:last-child {
    margin-left: auto;
}

.link-list li {
    display: flex;
    align-items: center; 
    margin-right: 20px;
}

.link-list li a {
    background-color: transparent;
    border: none;
    color: white;
}

.link-list li a:hover {
    background-color: transparent;
    border: none;

    color: cornflowerblue;
    cursor: pointer;
}

.icon {
    width: 25px; 
    height: 25px; 
}

.icon-big {
    width: 40px;
    height: 40px;
}

.bold {
    font-weight: 200;   
}

.centered-box {
    margin-top: 20px;
    display: grid;

    align-content: center;
    justify-content: center;
}

.close-button {
    margin-right: 10px;
    text-align: right;
    color: rgb(173, 23, 23);
    cursor: pointer;
}

.go-back {
    color: white;
}

.go-back:hover {
    color: cornflowerblue;
}